tensorflow==2.6.2
tensorflow_probability==0.14.1
tensorflow-addons>=0.13.0
matplotlib
ruamel.yaml
elements
gym[atari]>=0.18.3
absl-py>=0.9.0
numpy>=1.18.3
mock>=mock-4.0
pillow>=7.0.0
scikit-image
scikit-video
tqdm
pytube
wandb
git+ssh://git@github.com/sebimarkgraf/occluded_dmc.git#egg=distractor_dmc2gym
git+ssh://git@github.com/ALRhub/mbrl_envs.git#egg=mbrl_envs
wrap-your-gym==0.0.2
hydra-core
hydra-submitit-launcher